.content {
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 14px;
}

:global(.ant-input-number) {
    width: 160px;
}

.title {  
  font-weight: 600;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.reviewTitle {
  width: 200px;
  font-weight: 600;
}

.reviewItem {
  margin-bottom: 12px;
}